{% extends "base.html" %}

{% block main %}
<div class="d-flex d-sm-none" id="external-links-mobile">
    <a class="icon" href="https://github.com/ZenenTreadwell"><img src={{ url_for('static', filename='images/github.png') }} alt="Github"></a>
    <a href="https://armada-alliance.com/"><img class="icon" src={{ url_for('static', filename='images/armada.png') }} alt="Armada"></a>
    <a href="https://cardano.org/"><img class="icon" src={{ url_for('static', filename='images/cardano.png') }} alt="Cardano"></a>
</div>
<div class="d-none d-sm-flex" id="external-links">
    <a href="https://github.com/ZenenTreadwell"><img class="icon" src={{ url_for('static', filename='images/github.png') }} alt="Github"></a>
    <a href="https://armada-alliance.com/"><img class="icon" src={{ url_for('static', filename='images/armada.png') }} alt="Armada"></a>
    <a href="https://cardano.org/"><img class="icon" src={{ url_for('static', filename='images/cardano.png') }} alt="Cardano"></a>
</div>
<div class="container-fluid gx-0 px-0" id="page-one">
    <div class="row center d-none d-sm-flex">
        <div class="container col-7">
            <h1 id="zen">Zazen</h1>
            <h2 id="subtext">Cardano Stakepool</h2>
        </div>
        <img id="enso" class="col-5" src="{{ url_for('static', filename='images/enso.png') }}" alt="Enso">
    </div>
    <div class="row center d-flex d-sm-none">
        <img id="enso-mobile" src="{{ url_for('static', filename='images/enso.png') }}" alt="Enso">
        <h1 class="center" id="zen-mobile">Zazen</h1>
    </div>
    <div id="pool-info">
        <h4 class="d-block d-sm-none">Cardano Stakepool</h4>
        <p class="d-block d-sm-none">Live Stake: {{ live_stake }}k ADA</br>
        Delegators: {{ data.data.delegators }}</br>
        Minimal cost <b>||</b> 1% fee<p>
        <div class="d-none d-sm-block" id="pool-stats">
            <p>Live Stake: {{ live_stake }}k ADA <b>||</b>
            Delegators: {{ data.data.delegators }} <b>||</b>
            Minimal cost <b>||</b> 1% fee<p>
        </div>
    </div>
    <div class='arrow' onclick="window.scroll({top: offsetTop, behaviour: 'smooth'})">
        <img width="40" height="40" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" />
    </div>
</div>
<div id="grad" class="container-fluid h-100 w-100">
    <h1 id="slogan">bringing balance to the world of technology</h1></br>
</div>
<div class="container-fluid" id="page-two">
    <hr/>
    <div class="container">
        <h2>Let's start at the beginning. What is cryptocurrency?</h2>
        <p>Well, 'cryptocurrency' is a common way of using a relatively new technology called blockchain. Blockchain, in its most abstract form, can be imagined as a <i>ledger that exists within the sky.</i></p>
        <p>Though someone created this ledger, nobody owns it. Instead, it is free for anyone to read and copy however they want to. Writing a page in the ledger (minting a block), however, is a great honor and
        therefore the duty is passed around between the members of the community. As someone is writing in the ledger, they can erase and rewrite lines as needed in order to stay up to date. However, once a page has
        been finished and the turned over, it can never be changed or modified. It will be on that ledger forever.</p>
        <p>Because of their permanence, these pages are incredibly useful for keeping track of transactions. If I send you 100 ADA, that will be recorded in a section of the Cardano blockchain. Anyone who
        has a copy of the blockchain will be able to see the details of that exchange. There is no disputability and no way for a governing body to modify that information, because the ink is dry.</p>
        <h2>I see how it could be useful, but how does it have any actual value?</h2>
        <p>The first generation of cryptocurrency (Bitcoin and similar coins) was created to have its value driven by the work required to mint a block. Since Bitcoin requires the computer to solve a math problem in order to create the block, its value is based on how much effort is required to solve that problem. This allows people to trade Bitcoin for fiat currency and then transfer that value to others through the network.
        </p>
        <p>Subsequent cryptocurrencies such as Ethereum and Cardano have built their value based on the services that they provide for their users. Instead of putting the work towards solving difficult math problems, members of the community use their computers to run programs on top of the network.
        </p>
        <h2>There are hundreds of cryptocurrencies out there, so why choose Cardano?</h2>
        <p>One of the most important features of the Cardano protocol is its implementation of Proof-of-Stake consensus, where the opportunity to mint a block is offered relative to the user's stake within the system, instead of according to that user's ability complicated math problems quickly. This is significant because it uses a small fraction of the energy (less than 0.0001%) used by cryptocurrencies such as Bitcoin or Ethereum. That said, Choosing to invest in a cryptocurrency is much like choosing to invest in a stock. In order to do so properly, you should do your own research. 
        </p>
        <p>Personally, I choose to invest and participate in the Cardano ecosystem because I believe in the vision that the project is aiming towards - a decentralised economy which is controlled by its participants instead of by governmental or legislative bodies. Open source technology allows a freedom and transparency that could never be offered through the bureaucracy of governments and corporate entities. Cardano offers a means of voting through the act of delegation. Delegating to a stakepool does not require any release of personal control over your ADA and can be revoked at any time. The chance of a stakepool minting a block is proportional to the amount of currency delegated to that stakepool, up to a certain point. When it succeeds, the stakepool shares the profits with everyone who delegates in proportion to how much each person puts forward.
        </p>
        <h2>Neat! Well, why would I delegate to ZAZEN?</h2>
        <p>This, too, is a matter of personal preference. First off, I believe in true decentralisation and putting the power of the internet back into the hands of the users. My stakepool is hosted in my own home, on two small computers called Raspberry Pi. These computers take about the same amount of energy that a phone does as it charges. As such, I can afford to offer near-maximum rewards for anyone staking on ZAZEN. Furthermore, delegation encourages me to put more effort towards my personal projects. My blog is currently a work-in-progress but I am hoping that, once operational, some of the content will be compelling enough for you to support me. If you want to delegate to ZAZEN, more information can be found <a href="https://www.adastrong.com/staking/"> here</a>. I couldn't ask for anything more. 
        </p>
        <p>
        Peace and love, Zenen
        </p> 
    </div>
</div>
{% endblock %}
